# Thesis project

In [149]:
# !pip install pandas openpyxl
# !pip install graphviz pretty_confusion_matrix pydotplus shap kneed
# !pip install scikit-learn==1.2.2

In [150]:
missing_threshold = 0.1
threshold=0.8

## Import packages

In [151]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 95%; }
    div#menubar-container     { width: 65%; }
    div#maintoolbar-container { width: 99%; }a
</style>
"""))

In [152]:
1#general
import pandas as pd
import numpy as np
from scipy import stats
import re

In [153]:
# Import relevant packages for Lasso & Data Splitting
from sklearn.linear_model import Lasso
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

In [154]:
import seaborn as sns

In [155]:
#Import relevant packages for 
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE

In [156]:
from sklearn.model_selection import StratifiedGroupKFold
from sklearn.metrics import  confusion_matrix, precision_score, recall_score

In [157]:
import matplotlib.pyplot as plt
from matplotlib import colors
import warnings; warnings.simplefilter('ignore')

In [158]:
from imblearn.over_sampling import SMOTE
from imblearn import pipeline as pl 
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import precision_recall_curve, auc

In [159]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [160]:
from imblearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from imblearn.under_sampling import RandomUnderSampler
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [161]:
from sklearn.metrics import classification_report
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import StratifiedGroupKFold, cross_val_score

In [162]:
# from sklearn.metrics import confusion_matrix
# from pretty_confusion_matrix import pp_matrix_from_data

## Import data

Here, we import the dataframe that is composed of XX observations and XX variables. It is composed of observation of individual in a year $t$ and $t+1$. In case the person appeared consecutively, 

i) We include only the first two years they were included. If we did include them all, we would bias the model training them in the observations that repeated the most - that is, the individuals that were surveyed in more than year. In comparison to a normal econometric estimation where representation matter, we don't need or want to ensure that the sample we have allow us to talk in ceratin levels.

ii) We included all the first observstions of the appended panels. That is, if the person was followed by 4 years, then we have the person in the 3 initial years of a dual panel.

In [163]:
#import data 
data_1 = pd.read_excel("G:\\Mi unidad\\PUCP\\2021-2\\TESIS_1\\3_datos\\enaho_final_one_python_230823.xlsx")
data=data_1
#data.head()

In [164]:
data_1

,ano,num_panel,estrato,p203a,p501,p506r4,p510a1,p511a,p512a,p512b,...,analfa,n_edad_prim,n_edad_sec,n_edad_esc,n_matr_prim,n_matr_sec,n_matr_esc,menor_trabaja,ano_reg,deg_desemp
0,16,1002_16_17,5,1,1.0,111.0,3.0,7.0,1.0,2.0,...,0.0,0,0,0,0,0,0,0,2,0
1,16,1003_16_17,5,1,1.0,150.0,3.0,NaN,1.0,1.0,...,0.0,1,0,1,1,0,0,0,2,0
2,18,1003_17_18,5,1,1.0,4721.0,3.0,NaN,1.0,1.0,...,0.0,2,0,2,2,0,0,0,8,0
3,17,10068_16_17,1,1,1.0,9700.0,NaN,7.0,1.0,1.0,...,0.0,0,1,1,1,0,0,0,4,0
4,17,10070_16_17,1,1,2.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0,1,1,1,0,1,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,16,995_16_17,4,1,1.0,128.0,3.0,7.0,1.0,12.0,...,0.0,0,0,0,0,0,0,0,2,0
23230,18,995_17_18,4,1,1.0,128.0,3.0,7.0,1.0,18.0,...,0.0,1,0,1,1,0,0,0,8,0
23231,16,999_16_17,5,1,1.0,4773.0,3.0,NaN,1.0,1.0,...,0.0,1,0,1,1,0,0,0,2,0
23232,18,999_17_18,5,1,1.0,111.0,3.0,NaN,1.0,3.0,...,0.0,1,0,1,1,0,0,0,8,0
23233,16,9_16_17,4,1,1.0,4721.0,3.0,NaN,1.0,1.0,...,0.0,0,0,0,0,0,0,0,2,0

In [165]:
# import random

# # Define the number of random observations you want to select
# num_observations_to_select = 500  # Change this number as needed

# # Use random.sample() to select random observations
# data_2 = data_1.sample(n= num_observations_to_select, random_state=42)

In [166]:
 data_1.columns.tolist()

['ano',
 'num_panel',
 'estrato',
 'p203a',
 'p501',
 'p506r4',
 'p510a1',
 'p511a',
 'p512a',
 'p512b',
 'p513t',
 'p517',
 'p523',
 'y_pri_indep',
 'y_sec_dep',
 'y_sec_ind',
 'p558c',
 'p558e6',
 'p599',
 'ocupinf',
 'emplpsec',
 'p203',
 'p204',
 'p208a',
 'p209',
 'p300a',
 'p302',
 'p306',
 'p314a',
 'p401c',
 'p401f',
 'p401h1',
 'p401h2',
 'p401h3',
 'p401h4',
 'p401h5',
 'p401h6',
 'p4191',
 'p4192',
 'p4193',
 'p4194',
 'p4195',
 'p4196',
 'p4197',
 'p4198',
 'p22',
 'p101',
 'p102',
 'p103',
 'p103a',
 'p104a',
 'p104b1',
 'p104b2',
 'p105a',
 'p106a',
 'p110',
 'p111a',
 'p1141',
 'p1142',
 'p1143',
 'p1144',
 'p1145',
 'i1172_01',
 'i1172_02',
 'i1173_01',
 'i1173_02',
 'y_pri_dep',
 'y_pri',
 'y_sec',
 'y_mkt',
 'sector',
 'educ',
 'dpto',
 'regnat',
 'pobre2',
 'gpcm',
 'nbi1_pobre',
 'ingtrabw',
 'ipcr_2',
 'ipcr_3',
 'ipcr_4',
 'ipcr_5',
 'ipcr_1',
 'ipcr_7',
 'ipcr_8',
 'ipcr_6',
 'ipcr_9',
 'ipcr_10',
 'ipcr_11',
 'ipcr_12',
 'ipcr_13',
 'ipcr_14',
 'ipcr_15',
 'ipcr_16',
 'ipcr_17',
 'ipcr_18',
 'ipcr_19',
 'ipcr_20',
 'ipcr_0',
 'tamahno',
 'ciiu_1d',
 'ciiu_6c',
 'p_relativa',
 'celular',
 'gpgru2',
 'gpgru3',
 'gpgru1',
 'gpgru4',
 'gpgru5',
 'gpgru6',
 'gpgru7',
 'gpgru8',
 'gpgru9',
 'gpgru10',
 'gpgru0',
 'analfa',
 'n_edad_prim',
 'n_edad_sec',
 'n_edad_esc',
 'n_matr_prim',
 'n_matr_sec',
 'n_matr_esc',
 'menor_trabaja',
 'ano_reg',
 'deg_desemp']

In [167]:
# col = ['deg_desemp', 'regnat', 'ano_reg', 'num_panel', 'p203a', 'p5561a', 'p5562a', 'p5566a', 'estrato', 'p5571a', 'ano']
# data=data_2.loc[:, col]
# data

### Missings

Drop variables that have a percentage of missings values superior to threshold (0.1 are going to be created after OHE). We do this to keep the variables that are more answered since they are going to be the ones that are going to be more available in the surveys.

In [168]:
# Define the missing threshold and output file name


# Initialize an empty list to store the variable names
vars_delete_all = []

In [169]:
vars_delete_val = data.columns[data.apply(lambda x: sum(x.isna())/len(x)) > missing_threshold]
vars_delete_all += list(vars_delete_val)
num_elements = len(vars_delete_all)

We can see that the mostly the variables that are delimited are categorical/continuos variables.

In [170]:
# Brief analysis of the variables that are dropped in the missing section

print('Numeros de variables con mas de 10% de missings: {:.0f}'.format(num_elements))

Numeros de variables con mas de 10% de missings: 18

In [171]:
data_clean_m=data.drop(vars_delete_all, axis=1)
data_clean_m

,ano,num_panel,estrato,p203a,p501,p558c,p558e6,p599,p203,p204,...,analfa,n_edad_prim,n_edad_sec,n_edad_esc,n_matr_prim,n_matr_sec,n_matr_esc,menor_trabaja,ano_reg,deg_desemp
0,16,1002_16_17,5,1,1.0,1.0,6.0,9.0,2,1,...,0.0,0,0,0,0,0,0,0,2,0
1,16,1003_16_17,5,1,1.0,1.0,6.0,2.0,1,1,...,0.0,1,0,1,1,0,0,0,2,0
2,18,1003_17_18,5,1,1.0,1.0,6.0,1.0,1,1,...,0.0,2,0,2,2,0,0,0,8,0
3,17,10068_16_17,1,1,1.0,6.0,0.0,9.0,1,1,...,0.0,0,1,1,1,0,0,0,4,0
4,17,10070_16_17,1,1,2.0,6.0,NaN,9.0,3,1,...,0.0,0,1,1,1,0,1,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,16,995_16_17,4,1,1.0,1.0,0.0,9.0,2,1,...,0.0,0,0,0,0,0,0,0,2,0
23230,18,995_17_18,4,1,1.0,1.0,6.0,9.0,2,1,...,0.0,1,0,1,1,0,0,0,8,0
23231,16,999_16_17,5,1,1.0,1.0,6.0,1.0,2,1,...,0.0,1,0,1,1,0,0,0,2,0
23232,18,999_17_18,5,1,1.0,8.0,6.0,9.0,2,1,...,0.0,1,0,1,1,0,0,0,8,0
23233,16,9_16_17,4,1,1.0,6.0,6.0,1.0,2,1,...,0.0,0,0,0,0,0,0,0,2,0

In [172]:
data_clean_m.columns.tolist()

['ano',
 'num_panel',
 'estrato',
 'p203a',
 'p501',
 'p558c',
 'p558e6',
 'p599',
 'p203',
 'p204',
 'p208a',
 'p209',
 'p300a',
 'p306',
 'p314a',
 'p401c',
 'p401f',
 'p401h1',
 'p401h2',
 'p401h3',
 'p401h4',
 'p401h5',
 'p401h6',
 'p4191',
 'p4192',
 'p4193',
 'p4194',
 'p4195',
 'p4196',
 'p4197',
 'p4198',
 'p22',
 'p101',
 'p102',
 'p103',
 'p103a',
 'p104a',
 'p104b1',
 'p104b2',
 'p105a',
 'p110',
 'p111a',
 'p1141',
 'p1142',
 'p1143',
 'p1144',
 'p1145',
 'i1172_01',
 'i1172_02',
 'i1173_01',
 'i1173_02',
 'y_sec',
 'y_mkt',
 'sector',
 'educ',
 'dpto',
 'regnat',
 'pobre2',
 'gpcm',
 'nbi1_pobre',
 'ingtrabw',
 'ipcr_2',
 'ipcr_3',
 'ipcr_4',
 'ipcr_5',
 'ipcr_1',
 'ipcr_7',
 'ipcr_8',
 'ipcr_6',
 'ipcr_9',
 'ipcr_10',
 'ipcr_11',
 'ipcr_12',
 'ipcr_13',
 'ipcr_14',
 'ipcr_15',
 'ipcr_16',
 'ipcr_17',
 'ipcr_18',
 'ipcr_19',
 'ipcr_20',
 'ipcr_0',
 'tamahno',
 'ciiu_6c',
 'p_relativa',
 'celular',
 'gpgru2',
 'gpgru3',
 'gpgru1',
 'gpgru4',
 'gpgru5',
 'gpgru6',
 'gpgru7',
 'gpgru8',
 'gpgru9',
 'gpgru10',
 'gpgru0',
 'analfa',
 'n_edad_prim',
 'n_edad_sec',
 'n_edad_esc',
 'n_matr_prim',
 'n_matr_sec',
 'n_matr_esc',
 'menor_trabaja',
 'ano_reg',
 'deg_desemp']

In [173]:
# Assuming your dataset is in a pandas DataFrame called df
missing_values = data_clean_m.isnull().sum()

# Display only the columns that have missing values
missing_columns = missing_values[missing_values > 0]

print(missing_columns)

p501         25
p558c        25
p558e6     2081
p599         50
p300a        10
           ...
gpgru8     1114
gpgru9     1114
gpgru10    1114
gpgru0     1114
analfa      426
Length: 68, dtype: int64

### Dropeamos outliers

In order to keep the values that are more adjusted to medium reality, we choose to drop the outliers of the continuos variables. We set lower and upper thresholds with 1 standar deviation from the mean of the variable.

In [174]:
# Create function that replaces with missing the value of that variable in that observation in case they are below or above 
# the lower and upper threshold (respectively).

def replace_outliers_with_threshold(df, cols):
    for col in cols:
        # Calculate the mean and standard deviation for the current column
        col_mean = df[col].mean()
        col_std = df[col].std()

        # Calculate the lower and upper thresholds (3 standard deviations away from the mean)
        lower_threshold = col_mean - (1 * col_std)
        upper_threshold = col_mean + (1 * col_std)

        # Replace outliers with the threshold value
        df[col] = np.where((df[col] < lower_threshold) | (df[col] > upper_threshold), col_mean, df[col])

    return df

In [175]:
# # Create an empty list to store the names of continuous variables
# continuous_cols = []

# # Set a threshold for the number of unique values to distinguish categorical from continuous variables
# unique_value_threshold = 8

# # Iterate through the columns and identify continuous variables
# for col in data_clean_m.columns:
#     # Check if the column is numeric
#     if data_clean_m[col].dtype in [int, float]:
#         # Check the number of unique values in the column
#         num_unique_values = data_clean_m[col].nunique()
        
#         # Consider it as continuous only if the number of unique values is above the threshold
#         if num_unique_values > unique_value_threshold:
#             continuous_cols.append(col)

# # Now 'continuous_cols' will contain the names of continuous variables in the DataFrame
# print(continuous_cols)

# continuous_cols = ['y_sec', 'y_mkt','pobre2', 'gpcm', 'ingtrabw', 'ipcr_0', 'ipcr_1', 'ipcr_2', 'ipcr_3', 'ipcr_4', 'ipcr_5', 'ipcr_6', 'ipcr_7', 'ipcr_8', 'ipcr_9', 'ipcr_10', 'ipcr_11', 'ipcr_12',
#     'ipcr_13', 'ipcr_14', 'ipcr_15', 'ipcr_16', 'ipcr_17', 'ipcr_18', 'ipcr_19', 'ipcr_20', 'gpgru1', 'gpgru2', 'gpgru3', 'gpgru4', 'gpgru5', 'gpgru6', 'gpgru7', 'gpgru8', 'gpgru9','gpgru10', 'p104a', 
#     'i1172_01', 'i1172_02', 'i1173_01', 'i1173_02', 'p208a', 'n_edad_prim', 'n_edad_sec', 'n_edad_esc', 'n_matr_prim', 'n_matr_sec', 'n_matr_esc'] #con 0.1

# continuous_cols = [ 'y_pri',  'y_sec', 'y_mkt', 'pobre2', 'gpcm', 'ingtrabw', 'ipcr_0', 'ipcr_1', 'ipcr_2', 'ipcr_3', 'ipcr_4',
#     'ipcr_5', 'ipcr_6', 'ipcr_7', 'ipcr_8', 'ipcr_9', 'ipcr_10', 'ipcr_11', 'ipcr_12', 'ipcr_13', 'ipcr_14', 'ipcr_15', 'ipcr_16', 'ipcr_17', 'ipcr_18', 'ipcr_19', 'ipcr_20',
#     'gpgru1', 'gpgru2', 'gpgru3', 'gpgru4', 'gpgru5', 'gpgru6', 'gpgru7', 'gpgru8', 'gpgru9', 'gpgru10', 'p104a', 'i1172_01', 'i1172_02', 'i1173_01', 'i1173_02', 'p208a', 'p512a', 'p513t',
#     'n_edad_prim', 'n_edad_sec', 'n_edad_esc', 'n_matr_prim', 'n_matr_sec', 'n_matr_esc'] #0.5


 
cat_col_total = [
    'p300a', 'sector', 'educ', 'dpto', 'regnat', 'tamahno', 'ciiu_1d', 'ciiu_6c',
    'p101', 'p102', 'p103', 'p103a', 'p105a', 'p110', 'p111a', 'p203', 'p209', 'p302',
    'p506r4', 'p510a1', 'p511a', 'p512b', 'p523', 'emplpsec', 'p517'
    ,'p558c', 'estrato','ano','p599'
]

continous_col_total = [
    'y_pri_dep', 'y_pri_indep', 'y_pri', 'y_sec_dep', 'y_sec_ind', 'y_sec', 'y_mkt',
    'pobre2', 'gpcm', 'ingtrabw', 'ipcr_0', 'ipcr_1', 'ipcr_2', 'ipcr_3', 'ipcr_4',
    'ipcr_5', 'ipcr_6', 'ipcr_7', 'ipcr_8', 'ipcr_9', 'ipcr_10', 'ipcr_11', 'ipcr_12',
    'ipcr_13', 'ipcr_14', 'ipcr_15', 'ipcr_16', 'ipcr_17', 'ipcr_18', 'ipcr_19', 'ipcr_20',
    'gpgru1', 'gpgru2', 'gpgru3', 'gpgru4', 'gpgru5', 'gpgru6', 'gpgru7', 'gpgru8', 'gpgru9',
    'gpgru10', 'p104a', 'i1172_01', 'i1172_02', 'i1173_01', 'i1173_02', 'p208a', 'p512a', 'p513t',
    'n_edad_prim', 'n_edad_sec', 'n_edad_esc', 'n_matr_prim', 'n_matr_sec', 'n_matr_esc'
    
    ,'p203a'
]


binary_col_total = [
    'p401h1', 'p401h2', 'p401h3', 'p401h4', 'p401h5', 'p401h6', 'p4191', 'p4192', 'p4193', 'p4194', 'p4195', 
    'p4196', 'p4197', 'p4198', 'p1141', 'p1142', 'p1143', 'p1144', 'p1145', 'ocupinf', 'p501', 'p401c', 'p401f',
    'p306', 'p314a', 'p204', 'nbi1_pobre', 'p106a', 'p104b1', 'p104b2', 'p22', 'p_relativa', 'p558e6', 'celular', 'analfa'
    ,'menor_trabaja'
]


id_col_total = [
     'num_panel','ano_reg', 'deg_desemp'
]


total = cat_col_total + continous_col_total + binary_col_total + id_col_total
len(total)

124

In [176]:
f_cont_total = list(set(continous_col_total).intersection(data_clean_m.columns))
f_cat_total= list(set(cat_col_total).intersection(data_clean_m.columns))
f_bin_total = list(set(binary_col_total).intersection(data_clean_m.columns))
#f_id_total = list(set(id_col_total).intersection(data_clean_m.columns)

data_clean_m[f_bin_total] =data_clean_m[f_bin_total].replace({2: 0})

In [177]:
# Apply the functions to the selected variables
df_cleaned = replace_outliers_with_threshold(data_clean_m.copy(), f_cont_total)
df_cleaned.head()

,ano,num_panel,estrato,p203a,p501,p558c,p558e6,p599,p203,p204,...,analfa,n_edad_prim,n_edad_sec,n_edad_esc,n_matr_prim,n_matr_sec,n_matr_esc,menor_trabaja,ano_reg,deg_desemp
0,16,1002_16_17,5,1.0,1.0,1.0,6.0,9.0,2,1,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0,2,0
1,16,1003_16_17,5,1.0,1.0,1.0,6.0,2.0,1,1,...,0.0,1.000000,0.0,1.0,1.0,0.0,0.000000,0,2,0
2,18,1003_17_18,5,1.0,1.0,1.0,6.0,1.0,1,1,...,0.0,0.695446,0.0,2.0,2.0,0.0,0.000000,0,8,0
3,17,10068_16_17,1,1.0,1.0,6.0,0.0,9.0,1,1,...,0.0,0.000000,1.0,1.0,1.0,0.0,0.000000,0,4,0
4,17,10070_16_17,1,1.0,0.0,6.0,NaN,9.0,3,1,...,0.0,0.000000,1.0,1.0,1.0,0.0,0.088663,0,4,1

We check that the dataset is different from the previous one, to know we have change it (there are not outliers in the continous variables anymore).

In [178]:
if data_clean_m.copy().equals(df_cleaned):
    print("The two DataFrames are identical.")
else:
    print("The two DataFrames are different.")

The two DataFrames are different.

In [179]:
# Assuming your dataset is in a pandas DataFrame called df
missing_values = df_cleaned.isnull().sum()

# Display only the columns that have missing values
missing_columns = missing_values[missing_values > 0]

print(missing_columns)

p501         25
p558c        25
p558e6     2081
p599         50
p300a        10
           ...
gpgru8     1114
gpgru9     1114
gpgru10    1114
gpgru0     1114
analfa      426
Length: 68, dtype: int64

### One hot encoding

Now, we hace to one-hot-encode the categorical variables in order to introduce them to the model.

In [180]:
# Perform one-hot encoding on the specified columns
df_encoded = pd.get_dummies(df_cleaned, columns=f_cat_total )
df_encoded.head()

,num_panel,p203a,p501,p558e6,p204,p208a,p306,p314a,p401c,p401f,...,dpto_16,dpto_17,dpto_18,dpto_19,dpto_20,dpto_21,dpto_22,dpto_23,dpto_24,dpto_25
0,1002_16_17,1.0,1.0,6.0,1,37.560127,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,1003_16_17,1.0,1.0,6.0,1,41.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,1003_17_18,1.0,1.0,6.0,1,42.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,10068_16_17,1.0,1.0,0.0,1,49.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,10070_16_17,1.0,0.0,NaN,1,37.560127,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

We checked whether a fundamental rule is accomplished: n >> p.

In [181]:
if data_clean_m.shape[0] >= data_clean_m.shape[1]:
    print("The number of observations is superior than the number of variables.")
else:
    print("The number of observations is NOT superior than the number of variables.")

The number of observations is superior than the number of variables.

In [182]:
print(df_encoded.columns)

Index(['num_panel', 'p203a', 'p501', 'p558e6', 'p204', 'p208a', 'p306',
       'p314a', 'p401c', 'p401f',
       ...
       'dpto_16', 'dpto_17', 'dpto_18', 'dpto_19', 'dpto_20', 'dpto_21',
       'dpto_22', 'dpto_23', 'dpto_24', 'dpto_25'],
      dtype='object', length=242)

In [183]:
ano_columns = df_encoded.filter(regex='^ano_reg')
print(ano_columns)

       ano_reg
0            2
1            2
2            8
3            4
4            4
...        ...
23229        2
23230        8
23231        2
23232        8
23233        2

[23234 rows x 1 columns]

### Stratifying data for regnatxyear

The variable that we are going to be using for the stratification in the CV stratified is going to be the interaction between the natural region  (3) and the year of the observation (4). We choose to do this because eventhough we cannot not talk about representation, we can at least affirm that the stratas are different from each other (they have, at least, 0.15 of covariance).

We did a previous analysis os the interaction between departments (25) and the year (4) of the observation, but we couldn't find the minimun level of covariance as in the previous interaction.

In [184]:
data_X   = df_encoded.drop(['deg_desemp', 'ano_16', 'ano_17', 'ano_18', 'ano_19', 'regnat_1', 'regnat_2', 'regnat_3','ano_reg'], axis=1)
data_Y   = df_encoded.loc[:,['deg_desemp', 'ano_16', 'ano_17', 'ano_18', 'ano_19', 'regnat_1', 'regnat_2', 'regnat_3','ano_reg']]
data_X_m = df_encoded.loc[:, ['ano_16', 'ano_17', 'ano_18', 'ano_19', 'regnat_1', 'regnat_2', 'regnat_3', 'num_panel', 'ano_reg']]

In [185]:
data_X

,num_panel,p203a,p501,p558e6,p204,p208a,p306,p314a,p401c,p401f,...,dpto_16,dpto_17,dpto_18,dpto_19,dpto_20,dpto_21,dpto_22,dpto_23,dpto_24,dpto_25
0,1002_16_17,1.0,1.0,6.0,1,37.560127,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,1003_16_17,1.0,1.0,6.0,1,41.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,1003_17_18,1.0,1.0,6.0,1,42.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,10068_16_17,1.0,1.0,0.0,1,49.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,10070_16_17,1.0,0.0,NaN,1,37.560127,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,995_16_17,1.0,1.0,0.0,1,35.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
23230,995_17_18,1.0,1.0,6.0,1,37.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
23231,999_16_17,1.0,1.0,6.0,1,43.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
23232,999_17_18,1.0,1.0,6.0,1,44.000000,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
23233,9_16_17,1.0,1.0,6.0,1,37.560127,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [186]:
data_X['p204'].unique()

array([1, 0], dtype=int64)

In [187]:
# Brief analysis of the variables that are dropped in the missing section

print('The number of observations is {:.0f}'.format(data_X.shape[0]))
print('While the number of variables is {:.0f}'.format(data_X.shape[1]))

The number of observations is 23234
While the number of variables is 233

In [188]:
data_Y

,deg_desemp,ano_16,ano_17,ano_18,ano_19,regnat_1,regnat_2,regnat_3,ano_reg
0,0,1,0,0,0,0,1,0,2
1,0,1,0,0,0,0,1,0,2
2,0,0,0,1,0,0,1,0,8
3,0,0,1,0,0,1,0,0,4
4,1,0,1,0,0,1,0,0,4
...,...,...,...,...,...,...,...,...,...
23229,0,1,0,0,0,0,1,0,2
23230,0,0,0,1,0,0,1,0,8
23231,0,1,0,0,0,0,1,0,2
23232,0,0,0,1,0,0,1,0,8
23233,0,1,0,0,0,0,1,0,2

## Dropping correlated variables or features

In [189]:
data_X_corr = data_X.corr()
data_X_corr

,p203a,p501,p558e6,p204,p208a,p306,p314a,p401c,p401f,p401h1,...,dpto_16,dpto_17,dpto_18,dpto_19,dpto_20,dpto_21,dpto_22,dpto_23,dpto_24,dpto_25
p203a,1.000000,0.010072,-0.042008,-0.109314,-0.139822,-0.034578,0.047605,-0.000426,-0.057542,0.014858,...,0.028897,-0.009090,-0.014395,-0.013922,-0.008332,-0.013978,-0.020267,-0.017566,-0.008345,0.032830
p501,0.010072,1.000000,-0.158128,-0.027008,0.069403,-0.242592,-0.061683,0.008844,0.012545,-0.018807,...,-0.022316,0.015013,-0.000855,-0.045318,-0.004785,0.001655,0.039666,0.012330,-0.006292,0.003479
p558e6,-0.042008,-0.158128,1.000000,-0.005992,0.045501,-0.002207,-0.309973,-0.022192,0.017333,0.031138,...,-0.028282,0.020676,-0.028857,0.029775,-0.007441,0.042337,-0.034181,0.018134,0.020629,0.008992
p204,-0.109314,-0.027008,-0.005992,1.000000,0.013934,0.003285,-0.001303,-0.001997,0.082458,0.005756,...,-0.003141,0.000779,0.003947,0.003169,0.006503,0.000947,0.010010,0.008275,0.000020,-0.019839
p208a,-0.139822,0.069403,0.045501,0.013934,1.000000,-0.104249,-0.204625,0.005028,0.084720,0.012568,...,-0.011435,-0.000666,0.010789,-0.002267,0.005909,-0.003032,0.008609,0.010851,-0.000548,-0.012941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dpto_21,-0.013978,0.001655,0.042337,0.000947,-0.003032,0.009620,-0.029375,0.004878,-0.012926,0.013024,...,-0.029492,-0.017294,-0.021952,-0.020724,-0.032886,1.000000,-0.024636,-0.029632,-0.023241,-0.028347
dpto_22,-0.020267,0.039666,-0.034181,0.010010,0.008609,-0.007094,-0.022887,0.002692,-0.019631,-0.010419,...,-0.041475,-0.024320,-0.030871,-0.029145,-0.046249,-0.024636,1.000000,-0.041672,-0.032685,-0.039865
dpto_23,-0.017566,0.012330,0.018134,0.008275,0.010851,0.009681,0.026184,0.012025,0.004868,-0.002153,...,-0.049887,-0.029253,-0.037132,-0.035056,-0.055629,-0.029632,-0.041672,1.000000,-0.039314,-0.047950
dpto_24,-0.008345,-0.006292,0.020629,0.000020,-0.000548,-0.010875,0.003899,0.006583,0.021551,-0.008804,...,-0.039128,-0.022944,-0.029124,-0.027495,-0.043631,-0.023241,-0.032685,-0.039314,1.000000,-0.037609
dpto_25,0.032830,0.003479,0.008992,-0.019839,-0.012941,-0.010121,-0.004064,0.004374,-0.017594,-0.008624,...,-0.047722,-0.027984,-0.035521,-0.033535,-0.053216,-0.028347,-0.039865,-0.047950,-0.037609,1.000000

In [190]:
# Assuming your DataFrame is named data_X_corr
row_values = data_X_corr.filter(regex='^y_')

# Print or use the values from the first row
print(row_values)

            y_sec     y_mkt
p203a   -0.001401  0.003358
p501     0.184645  0.415991
p558e6  -0.035011 -0.367385
p204     0.001629 -0.001164
p208a    0.051561  0.067378
...           ...       ...
dpto_21  0.011344 -0.018287
dpto_22  0.011542  0.002458
dpto_23 -0.009244 -0.005829
dpto_24  0.019464 -0.016041
dpto_25  0.004162 -0.002196

[232 rows x 2 columns]

Here, we select the pair of variables that have a correlation higher than $0.8$.

In [191]:

columns = np.full((data_X_corr.shape[0]+1,2), 0)

In [192]:
# Here, we are going to create the pairs of variables from the dataframe which absolute value of correlation is superior to 0.8. 
pairs = np.empty((0, 2), dtype=int)

for i in range(data_X_corr.shape[0]):
    for x in range(1, data_X_corr.shape[0]):
        for j in range(i + x, data_X_corr.shape[0]):
            if (data_X_corr.iloc[i, j] >= threshold) | (data_X_corr.iloc[i, j] <= -threshold):
                pairs = np.vstack((pairs, [i, j]))
                pairs_unique = np.unique(pairs, axis=0)

In [193]:
pairs

array([[  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [  1, 136],
       [ 25,  26],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 28,  64],
       [ 42,  46],
       [ 42,  46],
       [ 42,  46],
       [ 42,  46],
       [ 47,  49],
       [ 47,  49],
       [ 51,  56],
       [ 51,  56],
       [ 51,  56],
       [ 51,  56],
       [ 51,  56],
       [101, 104],
       [101, 104],
       [101, 104],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [127, 144],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [130, 145],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [132, 146],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [133, 147],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 181],
       [160, 189],
       [160, 189],
       [160, 189],
       [160, 189],
       [160, 189],
       [160, 189],
       [160, 189],
       [160, 189],
       [160, 189],
       [164, 166],
       [164, 166],
       [176, 179],
       [176, 179],
       [176, 179],
       [181, 189],
       [181, 189],
       [181, 189],
       [181, 189],
       [181, 189],
       [181, 189],
       [181, 189],
       [181, 189]])

In [194]:
# it could happen that one variable is correlated with more than one.  
delete_unique = np.unique(np.ravel(pairs_unique))
delete_columns = delete_unique.reshape(1, -1)
print(delete_columns)

[[  1  25  26  28  42  46  47  49  51  56  64 101 104 127 130 132 133 136
  144 145 146 147 160 164 166 176 179 181 189]]

In [195]:
columns = np.full((pairs_unique.shape[0],1), 0, dtype=bool)

In [196]:
# After that, we keep the variable that is more related to the outcome variable.
for i in range(pairs_unique.shape[0]):
    column_names_i = data_X_corr.columns[pairs_unique[i]]
    merged_i = pd.concat([data_X[column_names_i], data_Y["deg_desemp"]], axis=1)
    data_X_corr_2 = merged_i.corr()    
    if (abs(data_X_corr_2.iloc[0,2]) > abs(data_X_corr_2.iloc[1,2])):
        #print(f"i,j is {pairs_unique[i]} because {abs(data_X_corr_2.iloc[0,2])} > {abs(data_X_corr_2.iloc[1,2])}")
        columns[i]= True

In [197]:
merged_array = np.column_stack((pairs_unique, columns))

win = np.full((merged_array.shape[0],1), 0)
lose =  np.full((merged_array.shape[0],1), 0)

In [198]:
for i in range(merged_array.shape[0]):
    if merged_array[i, 2] == 1:
            win[i] = merged_array[i, 0]
            lose[i] = merged_array[i, 1]
    else:
            win[i] = merged_array[i, 1]
            lose[i] = merged_array[i, 0]

In [199]:
merged_filter = np.column_stack((merged_array, win, lose))
filter = np.full((merged_filter.shape[0],1), 0)

In [200]:
for i in range(merged_filter.shape[0]):
    for x in range( merged_filter.shape[0]):
        if merged_filter[i, 3] == merged_filter[x, 4]:
            #print(f"{merged_filter[i, 3]} is repeated in column {x}")
            filter[i]= True

In [201]:
merged_final = np.column_stack((merged_filter,filter))
merged_final = merged_final[merged_final[:, -1] == 0]

keep_unique = np.unique(np.ravel(merged_final[:,3]))
keep_columns = keep_unique.reshape(1, -1)
print(keep_columns)

[[  1  26  46  49  56  64 101 130 132 133 144 164 176 181]]

In [202]:
drop_column_names = data_X_corr.columns[np.squeeze(delete_columns)]
keep_column_names = data_X_corr.columns[np.squeeze(keep_columns)]
keep_column_names_with_index = keep_column_names.tolist() + ["num_panel"]
data_X_keep = data_X.loc[:, keep_column_names_with_index ]

In [203]:
data_X.drop(drop_column_names, axis=1, inplace=True)
data_X_f = pd.merge(data_X, data_X_keep)
data_X_f

,num_panel,p203a,p558e6,p204,p208a,p306,p314a,p401c,p401f,p401h1,...,ipcr_15,celular,p300a_1.0,sector_4,sector_6,sector_7,ciiu_6c_1,tamahno_1,p599_1.0,p110_2
0,1002_16_17,1.0,6.0,1,37.560127,0.0,0.0,1.0,1.0,0.0,...,0.0,1,1,0,0,0,1,1,0,0
1,1003_16_17,1.0,6.0,1,41.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,1,1,0,0
2,1003_17_18,1.0,6.0,1,42.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,1,0,1,1,0
3,10068_16_17,1.0,0.0,1,49.000000,0.0,0.0,1.0,1.0,0.0,...,NaN,1,0,0,0,0,0,1,0,0
4,10070_16_17,1.0,NaN,1,37.560127,1.0,1.0,1.0,1.0,0.0,...,NaN,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,995_16_17,1.0,0.0,1,35.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,1,0,0,0
23230,995_17_18,1.0,6.0,1,37.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,1,0,0,0
23231,999_16_17,1.0,6.0,1,43.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,1,0,1,1,0
23232,999_17_18,1.0,6.0,1,44.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,1,1,0,0
23233,9_16_17,1.0,6.0,1,37.560127,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,1,0,1,1,0

#### Impute the missing observations for the variables that needed

We make a simple imputation (mean for continous variables and mode for the categorical variables)

In [204]:
# Assuming your dataset is in a pandas DataFrame called df
missing_values = data_X_f.isnull().sum()

# Display only the columns that have missing values
missing_columns = missing_values[missing_values > 0]

print(missing_columns)

p558e6      2081
p306          10
p314a         10
p401c       1624
p401f       1624
p401h1      1624
p401h2      1624
p401h3      1624
p401h4      1624
p401h5      1624
p401h6      1624
p4191       1624
p4192       1624
p4193       1624
p4194       1624
p4195       1624
p4196       1624
p4197       1624
p4198       1624
p104a        262
i1172_01      31
i1172_02     138
i1173_01      31
i1173_02     138
ipcr_3      1114
ipcr_4      1114
ipcr_5      1114
ipcr_8      1114
ipcr_9      1114
ipcr_11     1114
ipcr_12     1114
ipcr_13     1114
ipcr_14     1114
ipcr_16     1114
ipcr_17     1114
ipcr_18     1114
ipcr_19     1114
ipcr_20     1114
ipcr_0      1114
gpgru2      1114
gpgru3      1114
gpgru1      1114
gpgru4      1114
gpgru5      1114
gpgru6      1114
gpgru7      1114
gpgru8      1114
gpgru9      1114
gpgru10     1114
gpgru0      1114
analfa       426
p501          25
p104b2       278
ipcr_1      1114
ipcr_6      1114
ipcr_15     1114
dtype: int64

In [205]:
print(data_X_f.index.equals(data_X))

False

In [206]:
pattern_variables = [
    'ipcr_1', 'ipcr_6', 'ipcr_15', 'ipcr_3', 'ipcr_4', 'ipcr_5', 'ipcr_8', 'ipcr_9', 
    'ipcr_11', 'ipcr_12', 'ipcr_13', 'ipcr_14', 'ipcr_15', 'ipcr_16', 'ipcr_17', 'ipcr_18', 
    'ipcr_19', 'ipcr_20', 'ipcr_0', 'p401c', 'p401f', 'p401h1', 'p401h2', 
    'p401h3', 'p401h4', 'p401h5', 'p401h6', 'analfa', 'p4191', 'p4192', 'p4193', 'p4194', 
    'p4195', 'p4196', 'p4197', 'p4198' ,'p314a' ,'p306', 'p104b2'
]

non_pattern_variables = [
     'gpgru2', 'gpgru3', 'gpgru1', 'gpgru4', 'gpgru5', 'gpgru6', 'gpgru7', 'gpgru8', 'gpgru9', 'gpgru10', 'gpgru0', 
    'i1172_01', 'i1172_02', 'i1173_01', 'i1173_02', 'p558e6',  'p104a', 'p501',
]

In [212]:
def replace_missing_with_mean(df, cols):
    for col in cols:
        
        # Calculate the mode for the column of interest
        col_mean = df[col].mean()

        # Replace missing values (NaN) with the column mode
        df[col] = np.where(df[col].isna(), col_mean, df[col])

    return df

In [213]:
def replace_missing_with_mode(df, cols):
    for col in cols:
        # Calculate the mode for the column of interest
        col_mode = df[col].mode()[0]

        # Replace missing values (NaN) with the column mode
        df[col] = np.where(df[col].isna(), col_mode, df[col])

    return df

In [214]:
# Apply the functions to the selected variables
data_X_f_1 = replace_missing_with_mean(data_X_f.copy(), non_pattern_variables)
data_X_f_2 = replace_missing_with_mode(data_X_f_1.copy(), pattern_variables)

In [215]:
data_X_f_s = data_X_f_2

data_X_f_s

,num_panel,p203a,p558e6,p204,p208a,p306,p314a,p401c,p401f,p401h1,...,ipcr_15,celular,p300a_1.0,sector_4,sector_6,sector_7,ciiu_6c_1,tamahno_1,p599_1.0,p110_2
0,1002_16_17,1.0,6.00000,1,37.560127,0.0,0.0,1.0,1.0,0.0,...,0.0,1,1,0,0,0,1,1,0,0
1,1003_16_17,1.0,6.00000,1,41.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,1,1,0,0
2,1003_17_18,1.0,6.00000,1,42.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,1,0,1,1,0
3,10068_16_17,1.0,0.00000,1,49.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,0,1,0,0
4,10070_16_17,1.0,3.61821,1,37.560127,1.0,1.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,995_16_17,1.0,0.00000,1,35.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,1,0,0,0
23230,995_17_18,1.0,6.00000,1,37.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,1,0,0,0
23231,999_16_17,1.0,6.00000,1,43.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,1,0,1,1,0
23232,999_17_18,1.0,6.00000,1,44.000000,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,0,1,1,0,0
23233,9_16_17,1.0,6.00000,1,37.560127,0.0,0.0,1.0,1.0,0.0,...,0.0,1,0,0,0,1,0,1,1,0

In [216]:
# Assuming your dataset is in a pandas DataFrame called df
missing_values = data_X_f_s.isnull().sum()

# Display only the columns that have missing values
missing_columns = missing_values[missing_values > 0]

print(missing_columns)

Series([], dtype: int64)

In [222]:
data_Y_s = data_Y
data_X_m_s = data_X_m
data_X_f = data_X_f_s

In [223]:
#data_X_f_s = data_X_f.dropna()

#data_X_f_s
# Get the indices of dropped rows
#dropped_indices = data_X_f.index.difference(data_X_f_s.index)

# Drop corresponding rows from data_Y using the dropped indices
#data_Y_s = data_Y.drop(dropped_indices)
#data_X_m_s = data_X_m.drop(dropped_indices) 
#data_X_m_s

In [224]:
#Nota: no importa si estan correlacionadas pero en negativo puesto que aportan de manera diferente al Y
# | (data_X_corr.iloc[i,j] <= -threshold)

We stablish a thershold of 0.8. We keep 165 variables.But then, we add the ones corresponding to the year (3) and the ones corresponding to the regions (25).

The variables we dropped were: . Now, we merge this dataset with the variables we will use for the CV stratified: ano, dep, ano_dep

In [225]:
data_m = pd.merge(data_X_f, data_X_m_s, left_index=True, right_index=True)
# Drop 'num_panel_x' and 'ano_reg' columns from data_m
data_m.drop(columns=['num_panel_x'], inplace=True)

# Rename 'num_panel_y' to 'num_panel'
data_m.rename(columns={'num_panel_y': 'num_panel'}, inplace=True)
data_m

,p203a,p558e6,p204,p208a,p306,p314a,p401c,p401f,p401h1,p401h2,...,p110_2,ano_16,ano_17,ano_18,ano_19,regnat_1,regnat_2,regnat_3,num_panel,ano_reg
0,1.0,6.00000,1,37.560127,0.0,0.0,1.0,1.0,0.0,0.0,...,0,1,0,0,0,0,1,0,1002_16_17,2
1,1.0,6.00000,1,41.000000,0.0,0.0,1.0,1.0,0.0,0.0,...,0,1,0,0,0,0,1,0,1003_16_17,2
2,1.0,6.00000,1,42.000000,0.0,0.0,1.0,1.0,0.0,0.0,...,0,0,0,1,0,0,1,0,1003_17_18,8
3,1.0,0.00000,1,49.000000,0.0,0.0,1.0,1.0,0.0,0.0,...,0,0,1,0,0,1,0,0,10068_16_17,4
4,1.0,3.61821,1,37.560127,1.0,1.0,1.0,1.0,0.0,0.0,...,0,0,1,0,0,1,0,0,10070_16_17,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23229,1.0,0.00000,1,35.000000,0.0,0.0,1.0,1.0,0.0,0.0,...,0,1,0,0,0,0,1,0,995_16_17,2
23230,1.0,6.00000,1,37.000000,0.0,0.0,1.0,1.0,0.0,0.0,...,0,0,0,1,0,0,1,0,995_17_18,8
23231,1.0,6.00000,1,43.000000,0.0,0.0,1.0,1.0,0.0,0.0,...,0,1,0,0,0,0,1,0,999_16_17,2
23232,1.0,6.00000,1,44.000000,0.0,0.0,1.0,1.0,0.0,0.0,...,0,0,0,1,0,0,1,0,999_17_18,8
23233,1.0,6.00000,1,37.560127,0.0,0.0,1.0,1.0,0.0,0.0,...,0,1,0,0,0,0,1,0,9_16_17,2

In [227]:
data_Y_s = data_Y_s.sort_index()
data_m = data_m.sort_index()

In [228]:
# Export Y DataFrame to CSV
data_Y_s.to_csv('G:\\Mi unidad\\PUCP\\2021-2\\TESIS_1\\3_datos\\data_Y_s_090724.csv', index=False)

# Export X DataFrame to CSV
data_m.to_csv('G:\\Mi unidad\\PUCP\\2021-2\\TESIS_1\\3_datos\\data_m_090724.csv', index=False)

In [229]:
pip install "flaml[automl]"

Requirement already satisfied: flaml[automl] in c:\users\dell\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: NumPy>=1.17.0rc1 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (1.21.5)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (1.0.2)
Requirement already satisfied: xgboost>=0.90 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (2.0.3)
Requirement already satisfied: lightgbm>=2.3.1 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (4.2.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (1.9.1)
Requirement already satisfied: pandas>=1.1.4 in c:\users\dell\anaconda3\lib\site-packages (from flaml[automl]) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2.8.2)
Requirement already satisfied: joblib>=0.11 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=0.24->flaml[automl]) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=0.24->flaml[automl]) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.4->flaml[automl]) (1.16.0)
Note: you may need to restart the kernel to use updated packages.